.App {
  text-align: center;
  margin: 2rem auto;
}
#PracticalName{
  color: rgb(32, 6, 180);
  font-weight: bold;
  margin: auto auto;
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline rgb(65, 93, 172) 3px dotted;

}